@import "bootstrap";
@import "bootstrap/theme";


/* Mixins, Variables, etc. */

@mixin box_sizing {
	-moz-box_sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* Universal Styles */

body {
	padding-top: 65px;
}

.center {
	text-align: center;
}

.fullWidth {
	//width: 100%;
}

@media (max-width: 600px) {
  .fullWidth {
    width: 100%;
  }
}

/* Header */

a#logo {
	float: left;
	margin-right: 10px;
	font-size: 2.5em;
	color: black;
	/*text-transform: uppercase;*/
	/*letter-spacing: -1px;*/
	padding-top: 10px;
	font-weight: bold;
	line-height: 1;
 	&:hover {
    	color: blue;
    	text-decoration: none;
	}
}

img#logo {
	float: left;
	padding-top: 5px;
}

li.header-button {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}


/* Footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
}


/* Forms */
input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
	}
	li {
		display: block;
	}
}

.field_with_errors {
	@extend .has-error;
}