@import "bootstrap";
@import "bootstrap/theme";

body {
	padding-top: 65px;
}

/* Header */

a#logo {
	float: left;
	margin-right: 10px;
	font-size: 2.5em;
	color: black;
	/*text-transform: uppercase;*/
	/*letter-spacing: -1px;*/
	padding-top: 10px;
	font-weight: bold;
	line-height: 1;
 	&:hover {
    	color: blue;
    	text-decoration: none;
	}
}

img#logo {
	float: left;
	padding-top: 5px;
}

li {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}